<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2003</title>
</head>

<body>
    <div style="text-align: center">
        <p>INMOTION V12HT Electric Unicycle, 16" All Terrain Wheel, 2800W Powerful Motor, 188Nm Torque, 45° Max Slope,
            LCD Touchscreen, 37.3 Mph Max Speed Self-balancing One Wheel</p>
        <img src="/2003.png" />
    </div>
    <div style="text-align: center">
        <h3>PRICE : $2599</h3>
        <p>Product ID:2003</p>
        <p> Brand: INMOTION</p>
        <p> Wheel Size :16 Inches</p>
        <p> Item Dimensions LxWxH: 19.6 x 7.5 x 23.9 inches</p>
        <p> Maximum Speed: 37.3 Miles per Hour</p>
    </div>
    <div>
        <h3>About this item</h3>
        <p> 【2800W Power Motor】INMOTION V12HT electric unicycle is equipped with a 2800W motor that can generate 188Nm
            peak torque, can climb any hill with ease. The tremendous torque unleashes your driving desire at any time.
        </p>
        <p> Miles Ultra Long Range】Equipped with 1750Wh battery packs, INMOTION V12HT can last up to 96 miles for just
            one charge and can reach a max speed of 37.3mph. So forget the range anxiety, and start enjoying the
            hand-free riding from today.
        </p>
        <p>'' All-Terrain Tire】INMOTION V12HT is a great balance of portability, maneuverability, range, and power. The
            compact and slim body makes it nimble to maneuver while the 16x3.0 all-terrain tire provides great
            stability. INMOTION V12HTwill be your perfect all-around wheel for city commuting, trail riding, and stunt
            show-off.
        </p>
        <p> First Unicycle with Multi-function Touchscreen】The V12HT is the industry's first electric unicycle with a
            multi-function touchscreen. You can access to information such as speed, time, battery level, and mileage
            through the screen easily. You can also change many customization options such as RGB LED ring lights on the
            screen.
        </p>
        <p> Pedal to Keep You Safer】The adjustable pedal design makes the V12HT suitable for any scene, such as urban
            commuting, off-road and so on. Lowering the pedals is more suitable for urban commuting, and raising the
            pedals is more suitable for off-roading. Let’s experience different fun.
        </p>
        <br>
        <br>
        <br>
        <p style="text-align: center">© Copyright-ADABOINA AKHIL</p>

    </div>
</body>

</html>